html
    head
        title=title
    body
        a(href="/")="HOME"
        a(href="/hola")="CREAR"
        h1=pelicula
        p="La película se realizó en el año "+fecha
        p="Los actores principales son "+actores
        p="El director es "+director
        p="Ha conseguido los siguientes premios "+premios
        img(src=ruta)
        p="¿Has visto la película?"