html
    head
        title=title
        link(rel='stylesheet' type='text/css' href='./style.css')
        link(rel='icon' type='image/png' href="movie-camera.svg")
    body
        a(href="/")="HOME"
        a(href="/formulario")="GUARDAR FAVORITOS"
        h1=pelicula
        p="AÑO "+fecha
        p="DURACIÓN"+duracion
        p="ACTORES "+actores
        p="DIRECTOR "+director
        p="PREMIOS "+premios
        img(src=ruta)
        p="¿Has visto la película?"
        input(type="checkbox" name="yes" value="SI")
        label(for="SI")="SI"
        input(type="checkbox" name="yes" value="NO")
        label(for="NO")="NO"
        br
        p="¿Te gustó?"
        input#liked(type="checkbox" name="yes" value="SI")
        label(for="SI")="SI"
        input#watched(type="checkbox" name="yes" value="NO")
        label(for="NO")="NO"
        label(for="Comentarios")="Comentarios"
        br
        input(type="textarea"  id="coments" name="coments")
        button#buttonSave3(href="/")="GUARDAR EN FAVORITOS"