html
    head
        title=title
    body
        a(href="/")="HOME"
        a(href="/hola")="CREAR"
        h1="Guarda tus películas preferidas"
        br 
        form(action="/api/films" method="post")
            p="Nombre"
            input(type="text",  id="name")
            p="Apellido"
            input(type="text",  id="surname")
            br
            input(type="submit", value="GUARDAR PELÍCULA" id="buttonSave")