html
    head
        title=title
    body
        a(href="/")="HOME"
        a(href="/formulario")="GUARDAR FAVORITOS"
        h1="Guarda tus películas preferidas"
        br 
        form(action="/exito" method="post")
            p="PELICULA"
            input(type="text"  id="film" name="film")
            input(type="submit" value="GUARDAR PELÍCULA" id="buttonSave")
        script(src="/saveFilm.js")
