html
    head
        title=title
        link(rel='stylesheet' type='text/css' href='./style.css')
        link(rel='icon' type='image/png' href="camera.png")
    body
        a(href="/")="HOME"
        a(href="/formulario")="GUARDAR FAVORITOS"
        h1#lin=message
        input(type="submit", value="PELÍCULA BUSCADA" id="buttonSearch")
        input(type="text",  id="movSearch")
        br
        h2#lin="Tus películas favoritas"
        div#peliFav
        script(src="scriptHome.js" defer)